@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap');
@import "bootstrap/scss/functions";

@import "./utils/variables";

@import "bootstrap/scss/bootstrap";
// TODO: Lean Sass imports

@import "./base";
@import "./fonts";
@import "./components/productCard";
@import "./components/header";
@import "./components/footer";

