.footer {
  background-color: $primary-50; // #FFEDF1
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Logo 區塊
.footer-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
  padding: 7px 0 0;
}

.footer-logo-text {
  font-family: "Texturina", serif;
  font-weight: bold;
  font-size: 28px;
}

.footer-logo-dark {
  color: $secondary-700;
}

.footer-logo-brand {
  color: $primary-700;
}

// 版權宣告
.footer-copyright {
  font-weight: 700;
  font-size: 16px;
  color: $gray-600;
  margin-bottom: 0;
}

// 標題 (聯絡我們、快速連結)
.footer-section-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: $secondary-700;
}

// 社群圖示
.footer-social-links {
  display: flex;
  gap: 42px;
  // justify-content: flex-start;
  align-items: center;

  a {
    display: inline-flex;
    text-decoration: none;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;

    &:hover {
      transform: translateY(-3px);
      opacity: 0.8;
    }
  }
}

// 快速連結
.footer-quick-links {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    font-weight: 700;
    font-size: 1rem;
    color: $secondary-700;
    text-decoration: none;
    transition: 0.3s ease;
    // letter-spacing: 1px;

    &:hover {
      color: $primary-700;
    }
  }
}

// 桌面版 - 水平排列
@media (min-width: 992px) {
  .footer-quick-links {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
  }
}

// 手機版 - 垂直排列
@media (max-width: 991px) {
  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-section {
    margin-bottom: 36px;

    // Logo 區塊與「聯絡我們」區塊之間的間距
    &:first-child {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  //聯絡我們、快速連結標題
  .footer-section-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: $secondary-700;
  }

  // Logo 區塊
  .footer-logo-container {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px!important;

    img {
      margin-bottom: 8px;
    }
  }

  .footer-copyright {
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  // 社群圖示 (手機版)
  .footer-social-links {
    justify-content: center;
    gap: 42px;
    margin-bottom: 1rem;
  }

  // 快速連結 (手機版垂直排列)
  .footer-quick-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; // 連結之間的垂直間距
  }
}
