body {
  overflow-x: hidden;
}

.header {
  background-color: $primary-50;
}

.navbar-custom {
  background-color: $white;
  border-bottom: 1px solid $primary-200;
}

// Logo
.logo-font {
  font-family: "Texturina", serif;
  font-weight: bold;
  font-size: 28px;
}

.logo-text-dark {
  color: $secondary-700;
}

.logo-text-brand {
  color: $primary-700;
}

.navbar-brand:hover {
  opacity: 0.8;
  transition: 0.3s ease;
}

// Icons Container
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

// Button Icon
.btn-icon {
  padding: 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: $gray-600;
    transition: 0.3s ease;
  }

  &:hover svg {
    color: $primary !important;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

// Navigation Links
.nav-link-custom {
  transition: 0.3s ease;

  svg {
    color: $gray-600;
    transition: 0.3s ease;
  }

  &:hover,
  &:hover svg {
    color: $primary !important;
  }

  &.active,
  &.active svg {
    color: $primary !important;
  }
}

// Dropdown
.dropdown-custom {
  .dropdown-menu,
  &.dropdown-menu {
    border-color: $primary-200;
  }

  .dropdown-item {
    font-weight: 600;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
      background-color: $primary-50 !important;
      color: $secondary-700 !important;
    }
  }

  &.show > .nav-link-custom,
  &.show > .nav-link-custom svg {
    color: $primary !important;
  }
}

// User Greeting
.user-greeting {
  color: $primary;
}

// Navbar Toggler
.navbar-toggler-custom {
  border: none !important;
  box-shadow: none !important;
  font-size: 16px;
  padding: 12px !important;

  &:hover {
    color: $primary !important;
  }

  &:focus {
    box-shadow: none !important;
    outline: none !important;
    color: $primary !important;
  }
}

.dropdown-submenu {
  position: relative;

  @media (min-width: 992px) {
    > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
      margin-top: -1px;
      display: none;
    }

    &:hover > .dropdown-menu {
      display: block !important;
    }
  }
}

// Mobile
@media (max-width: 991px) {
  .navbar-icons .btn-icon:hover svg {
    color: $primary !important;
  }

  .dropdown-submenu {
    .dropdown-menu {
      position: static !important;
      left: 0 !important;
      margin-left: 1rem;
      box-shadow: none;
      border: none;
      background-color: transparent !important;
    }

    // 在 hover 時顯示子選單
    &:hover > .dropdown-menu {
      display: block !important;
    }

    .dropdown-item {
      padding-left: 2rem;
      background-color: transparent;

      &:hover {
        background-color: $primary-50 !important;
      }

      svg {
        transform: rotate(90deg);
      }
    }
  }

  .navbar-collapse {
    background-color: $white;
    border-radius: 0.5rem;
  }
}
