.editBtn {
    border: 1px solid $blue-500;
    color: $blue-500;
    &:hover {
        background: $blue-500;
        color: #fff;
    }
}

.delBtn {
    border: 1px solid $danger;
}

.cancelBtn, .checkBtn {
    background: #fff;
    color: $primary-500;
    border: 2.5px solid $primary-500;
    border-radius: 0px;
    &:hover {
        background: $primary-50;
        color: $primary-500;
    }
}