.start-customization {
  position: relative;
  background-image: url('../../images/unsplash_Sgeax5_g9T8.png');
  background-size: cover;
  background-position: center;
  padding: 8.25rem 0;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3); // 白色 30% 透明度
    z-index: 1;

    @include media-breakpoint-up(lg) {
      right: 50%;
      background-color: rgba(255, 255, 255, 0.6);
    }
  }

  > .container {
    position: relative;
    z-index: 2; // 確保內容在遮罩上層
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;

    @include media-breakpoint-up(lg) {
      font-weight: 400;
    }
  }
}
